* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
$light-green: #13d8c3;
$dark-green: #07b29e;
$light-grey: #D3D2D3;

.site {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: $light-green;
}

.site__content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
	width: 100%;
	min-height: 100vh;
	padding: 15px;
}

.page {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 300px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 5px 1px rgba(0,0,0,0.25);
	border: 1px solid rgba(18, 209, 188, 0.25);
	padding-bottom: 71px;

	&:before {
		content: "";
		position: absolute;
		top: 8px;
		left: -4px;
		width: calc(100% + 8px);
		height: calc(100% - 16px);
		background-color: #fff;
		border-radius: 3px;
		z-index: -1;
		box-shadow: 0 2px 5px 1px rgba(0,0,0,0.25);
	}

	&:after {
		content: "";
		position: absolute;
		top: 16px;
		left: -8px;
		width: calc(100% + 16px);
		height: calc(100% - 32px);
		background-color: rgba(255, 255, 255, .9);
		border-radius: 3px;
		z-index: -2;
		box-shadow: 0 2px 5px 1px rgba(0,0,0,0.25);
	}
}

.background {
	background-color: rgba(255,255,255,0.8);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	&.hidden {
		display: none;
	}
}

.container {
	display: flex;
	padding: 15px 30px;
}


// date
.todo-header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid $light-green;

	.logo-adalab {
		width: 40px;
		height: 40px;
		background-image: url("../images/logo_adalab.png");
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

	.date {
		display: flex;
		align-items: center;
		justify-content: center;

		.date__container1 .number-date {
			color: $dark-green;
			font-size: 40px;
			margin-right: 10px;
		}

		.date__container2 .date-week {
			font-weight: 700;
		}

		.date__container2 .month-year {
			font-weight: 300;
			font-size: 14px;
			color: #666;
		}
	}
}
// tasks

.tasks {
	min-height: 400px;

	.container {
		flex-direction: column;
	}
}

.done,
.todo-list {
	list-style-type: none;
}

.todo-list{
 display: flex;
 flex-direction: column;
}

.task-li {
	padding: 8px 0;
	position: relative;
	margin-bottom: 5px;
}

.label-checkbox {
	padding-left: 30px;
}

.checkbox {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	border: 0;
	cursor: pointer;
	top: 0;
	left: 0;

	&:before {
		content: "";
		position: absolute;
		width: 15px;
		height: 15px;
		display: block;
		border: 2px solid $light-green;
		border-radius: 50%;
		background: #fff;
		top: 8px;
	}

	&:checked {
		&:before {
			border: 2px solid $dark-green;
		}

		&:after {
			content: "";
			position: absolute;
			top: 14px;
			left: 5px;
			width: 7px;
			height: 4px;
			border-left: 2px solid $dark-green;
			border-bottom: 2px solid $dark-green;
			transform: rotateZ(-45deg);
		}
	}
}

.container-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 1px solid $light-grey;
	padding: 15px 0;
	position: absolute;
	bottom: 0;
	width: 100%;

	.button--plus {
		color: $dark-green;
		border: 2px solid $light-green;
		font-size: 30px;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		outline: none;
		cursor: pointer;
	}
}
// new-task
.new-task {
	width: calc(100% - 40px);
	height: auto;
	border-radius: 5px;
	background-color: $dark-green;
	position: absolute;
	bottom: 25px;
	left: 50%;
	transform: translateX(-50%);
	margin: 0 auto;
	box-sizing: border-box;
	padding: 20px;
	box-shadow: 0 2px 5px 1px rgba(0,0,0,0.25);

	&.hidden {
		display: none;
	}

	.form__newtask {
		display: flex;
		flex-direction: column;

		.new-task__label {
			color: rgba(255,255,255,0.8);
			font-size: 11px;
			line-height: 14px;
			margin-bottom: 4px;
			font-weight: 300;
		}

		.new-task__input {
			position: relative;
			color: rgba(255,255,255,.9);
			border: 1px solid rgba(255,255,255,0.5);
			border-radius: 3px;
			background: transparent;
			padding: 8px 10px;
			font-size: 14px;
			letter-spacing: 1px;
			outline: none;
		}

		.button--add {
			width: auto;
			padding: 4px 30px;
			display: block;
			margin: 20px auto 0;
			border-radius: 20px;
			background: transparent;
			border: 1px solid rgba(255,255,255,.9);
			font-size: 14px;
			color: rgba(255,255,255,1);
			cursor: pointer;
			outline: none;
		}
	}
}

.strike {
	text-decoration: line-through;
	color: $light-grey;
}
